# Programming Assignment 2

## Tess Montgomery

### Version 1 - CS 150-ON Fall 2023

#### Task 1: Personal Information

In [4]:
name="Tess Montgomery"

In [5]:
age=53

In [6]:
height=172.2

In [33]:
color="green"

In [39]:
print("My name is "+ name + ", I am "+ str(age) +" years old, I am "+ str(height) + " cm tall, and my favorite color is "+ color + ".")

My name is Tess Montgomery, I am 53 years old, I am 172.2 cm tall, and my favorite color is green.

#### Task 2: Temperature Conversion

In [2]:
celcius_temp=30

In [5]:
ftemp=celcius_temp * (9/5) + 32

In [6]:
print(ftemp)

86.0

In [7]:
print("The temperature is " + str(celcius_temp) + " C, which is " + str(ftemp) + " F.")

The temperature is 30 C, which is 86.0 F.

#### Task 3: Simple Calculator

In [44]:
num1=10

In [45]:
num2=17

In [46]:
print(num1 + num2)

27

In [47]:
print(num2 - num1)

7

In [48]:
print(num1 * num2)

170

In [49]:
print(num1 / num2)

0.5882352941176471

#### Task 4: String Manipulation

In [9]:
quote="You may say I'm a dreamer, but I'm not the only one. I hope someday you'll join us. And the world will live as one."

In [51]:
len(quote)

115

In [53]:
quote1=quote.upper()
print(quote1)

YOU MAY SAY I'M A DREAMER, BUT I'M NOT THE ONLY ONE. I HOPE SOMEDAY YOU'LL JOIN US. AND THE WORLD WILL LIVE AS ONE.

In [54]:
quote2=quote.lower()
print(quote2)

you may say i'm a dreamer, but i'm not the only one. i hope someday you'll join us. and the world will live as one.

In [13]:
quote.replace(" ", "")

"YoumaysayI'madreamer,butI'mnottheonlyone.Ihopesomedayyou'lljoinus.Andtheworldwillliveasone."

In [61]:
print("You may say I'm a dreamer," + "\n" + "but I'm not the only one." + "\n" + "I hope someday you'll join us." + "\n" + "And the world will live as one.")

You may say I'm a dreamer,
but I'm not the only one.
I hope someday you'll join us.
And the world will live as one.

#### Task 5: User Input and Integer Operations

In [64]:
number=int(22)
number2=int(33)

In [65]:
print(number + number2)
print(number2 - number)
print(number * number2)
print(number / number2)

55
11
726
0.6666666666666666